
.form{
    display:flexbox;
    align-items: center;
    justify-content: center;
    top: 0;
    margin-top: 4px;
    background-color: white;
    width: 400px;
    height: 300px;

  
}
form{
    padding: 4px;
    justify-content: center;
    margin-top: 4px;
    margin: 5%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.topic{
   justify-content: center;
   text-align: center;
   font-size:20px ;
   padding: 3px;
}

